/src/app/libs
/src/.idea
/src/app/src/main/assets/img/back2.jpg
/jstetris.jks
/private_key.pepk
/doc/icon_big.png
/doc/screen_shot_1024_500.jpg
/doc/Screenshot_20200910-005555_Chobo Block Game 2.jpg
/doc/Screenshot_20200910-010449_Chobo Block Game 2.jpg
